<div class="row">
  <div class="col-xs-12 col-sm-12">

    <h4 class="breadcrumb"><%= flash[:notice] %></h4>
    <%= render :partial => 'list' %>
    <br />
    <%= will_paginate @channels %>

  </div>
</div>

