<div class="row">
  <div class="col-xs-12 col-sm-6">

    <h4 class="breadcrumb"><%= t(:watched_channels) %></h4>

    <div class="col-pad">
      <% if @channels.empty? %>
        <%= t(:watched_empty) %>
        <br /><br />
        <%= link_to t(:watched_find), public_channels_path %>
      <% else %>
        <%= render :partial => 'list' %>
      <% end %>
    </div>

  </div>
</div>

