<div class="response-div pull-right">
  Response in:
  <span class="response active response-text" data-response_type="text">TEXT</span><span class="response response-json" data-response_type="json">JSON</span><span class="response response-xml" data-response_type="xml">XML</span>
</div>

