<div class="row">

  <div class="col-sm-offset-1 col-sm-3 col-xs-12" id="leftcol">
    <%= render 'docs/sidebar' %>
  </div>

  <div class="col-sm-7 col-xs-12">

    <h1>Plugins</h1>

    Plugins are way to create your applications natively on the ThingSpeak platform. You can create applications using HTML, CSS, and JavaScript to create mashups of ThingSpeak services with other web services. Plugins can either be private or public. Private plugins can only be viewed from a private ThingSpeak Channel view. Public Plugins can be embedded on your website or added to a ThingSpeak Channel view.
    <br><br>

    <hr />
    <h2 id="example">Example Plugin</h2>
    <p><a title="Display a Google Gauge Visualization using ThingSpeak Plugins" href="http://community.thingspeak.com/tutorials/google/display-a-google-gauge-visualization-using-thingspeak-plugins/">Display a Google Gauge Visualization using ThingSpeak Plugins</a> [<a title="Source ode for Google Gauge ThingSpeak Plugin" href="http://community.thingspeak.com/code/Google_Gauge.html">Source Code</a>]</p>

    <p style="text-align: center;">
      <iframe width="100%" height="120" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" src="https://thingspeak.com/plugins/5216"></iframe>
    </p>
    <br><br>

    <hr />
    <%= render 'docs/plugins/index' %>

  </div>
</div>

