<div class="row">

  <div class="col-sm-offset-1 col-sm-3 col-xs-12" id="leftcol">
    <%= render 'docs/sidebar' %>
  </div>

  <div class="col-sm-7 col-xs-12">

    <div>
      <h1 id="tutorials">Tutorials</h1>
    </div>

    <br>

		<h3>Getting Started with ThingSpeak</h3>
    <ul>
    <li><a title="Introduction to the Internet of Things and ThingSpeak" href="http://community.thingspeak.com/tutorials/introduction-to-the-%E2%80%9Cinternet-of-things%E2%80%9D-and-thingspeak/">Introduction to the “Internet of Things” and ThingSpeak</a> </li>
    <li><a title="Video tutorial on creating ThingSpeak Channels" href="http://community.thingspeak.com/tutorials/thingspeak-channels/">ThingSpeak Channels</a>&nbsp;</li>
    </ul>
    <h3>Arduino</h3>
    <ul>
    <li><a title="Using an Arduino and Ethernet Shield to Update a ThingSpeak Channel" href="http://community.thingspeak.com/arduino/using-an-arduino-ethernet-shield-to-update-a-thingspeak-channel/">Using an Arduino + Ethernet Shield to Update a ThingSpeak Channel</a></li>
    <li><a title="Update a Twitter Status with the ThingTweet App and Arduino and Ethernet Shield" href="http://community.thingspeak.com/tutorials/arduino/update-twitter-with-thingtweet-and-arduino-ethernet-shield/">Update Twitter with ThingTweet and Arduino + Ethernet Shield</a></li>
    <li><a title="Update ThingSpeak Channels and Twitter with Arduino Ethernet" href="http://community.thingspeak.com/tutorials/arduino/update-thingspeak-channels-and-twitter-with-arduino-ethernet/">Update ThingSpeak Channels and Twitter with Arduino Ethernet</a></li>
    <li><a title="Controlling the Arduino Yún with TalkBack" href="http://community.thingspeak.com/tutorials/arduino/controlling-the-arduino-yun-with-talkback/">Controlling the Arduino Yún with TalkBack</a></li>
    <li><a title="RESTduino to ThingSpeak via Python" href="https://github.com/sirleech/RestduinoThingspeak" target="_blank">RESTduino to ThingSpeak via Python</a> [external]</li>
    <li><a title="Arduino ThingSpeak Example Source Code is on GitHub" href="https://github.com/iobridge/ThingSpeak-Arduino-Examples" target="_blank">Arduino Examples for ThingSpeak on GitHub</a> [external]</li>
    </ul>
    <h3>C</h3>
    <ul>
    <li><a title="ThingSpeak C Library" href="https://github.com/gabrield/libthingspeak">ThingSpeak C Library</a> [external]</li>
    </ul>
    <h3>Electric Imp</h3>
    <ul>
    <li><a title="Data Storage and Retrieval with ThingSpeak for Electric Imp Connectivity" href="http://community.thingspeak.com/tutorials/electric-imp/data-storage-and-retrieval-with-thingspeak/">Data Storage and Retrieval with ThingSpeak for Electric Imp Connectivity</a></li>
    <li><a title="Battery-powered Temperature Logger with ThingSpeak + Electric Imp" href="http://www.slickstreamer.info/2014/01/simpel-electric-imp-temperature-logger.html">Battery-powered Temperature Logger with ThingSpeak + Electric Imp</a>&nbsp;[external]</li>
    <li><a title="Solar-powered Temperature Logger with Electric Imp and ThingSpeak" href="https://gist.github.com/evilmachina/6402955">Solar-powered Temperature Logger with Electric Imp and ThingSpeak</a> [external]</li>
    </ul>
    <h3>Freetronics</h3>
    <ul>
    <li><a title="Freetronics Eleven Review and ThingSpeak Project" href="http://community.thingspeak.com/tutorials/freetronics/freetronics-eleven-review-and-thingspeak-project/">Freetronics Eleven Review and ThingSpeak Project</a></li>
    </ul>
    <h3>Google</h3>
    <ul>
    <li><a title="Google Gauge Visualization for a ThingSpeak Channel" href="http://community.thingspeak.com/google/display-a-google-gauge-visualization-using-thingspeak-plugins/">Display a Google Gauge Visualization using ThingSpeak Plugins</a></li>
    <li><a title="Parse Weather Data from Google Weather API using ThingHTTP" href="http://community.thingspeak.com/tutorials/google/parse-weather-data-from-google-weather-with-thinghttp/">Parse Weather Data from Google Weather with ThingHTTP</a>&nbsp;[deprecated]</li>
    </ul>
    <h3>ioBridge</h3>
    <ul>
    <li><a title="Updating a Twitter Status via the ioBridge IO-204 and the ThingTweet App" href="http://community.thingspeak.com/iobridge/updating-a-twitter-status-using-the-thingtweet-app-and-iobridge-io-204/">Updating a Twitter Status using the ThingTweet App and ioBridge IO-204</a></li>
    </ul>
    <h3>Java</h3>
    <ul>
    <li><a title="ThingSpeak Java Client" href="https://github.com/angryelectron/thingspeak-java/" target="_blank">ThingSpeak Java Client</a>&nbsp;[external]</li>
    </ul>
    <h3>JavaScript / jQuery</h3>
    <ul>
    <li><a title="Parse ThingSpeak Last Entry Feed with jQuery with example and project" href="http://community.thingspeak.com/tutorials/javascript/parse-thingspeak-last-entry-feed-with-jquery/">Parse ThingSpeak Last Entry Feed with jQuery</a></li>
    </ul>
    <h3>Linux</h3>
    <ul>
    <li><a title="Monitoring Linux Server Statistics" href="http://community.thingspeak.com/2014/05/official-tutorial-monitoring-linux-server-statistics/">Monitoring Linux Server Statistics</a></li>
    </ul>
    <h3>mbed</h3>
    <ul>
    <li><a title="Temperature Monitor Using mbed, DS1620, and ThingSpeak" href="http://frank.circleofcurrent.com/thingspeak_mbed_tut1/" target="_blank">Temperature Monitor using mbed, DS1620, and ThingSpeak</a> [external]</li>
    <li><a title="Continuous Temperature Monitoring with the mbed and ThingSpeak" href="http://blog.hendriklipka.de/archives/2014/01/temperature_monitoring.html" target="_blank">Continuous Temperature Monitoring with the mbed and ThingSpeak</a> [external]</li>
    </ul>
    <h3>.NET / C#</h3>
    <ul>
    <li><a title="ThingSpeak .NET Class" href="http://cobwebsonmymind.wordpress.com/2011/04/13/thingspeak-net-class/" target="_blank">ThingSpeak .NET Class</a> [external]</li>
    <li><a title="Internet Of Things and μPLibrary : client for ThingSpeak platform" href="http://www.embedded101.com/Blogs/PaoloPatierno/tabid/106/entryid/258/Internet-Of-Things-and-PLibrary-client-for-ThingSpeak-platform.aspx" target="_blank">μPLibrary – client for ThingSpeak platform</a>&nbsp;[external]</li>
    </ul>
    <h3>Netduino</h3>
    <ul>
    <li><a title="Create your own Web of Things using the Netduino Plus and ThingSpeak" href="http://community.thingspeak.com/netduino/create-your-own-web-of-things-using-the-netduino-plus-and-thingspeak/">Create your own Web of Things using the Netduino Plus and ThingSpeak</a></li>
    </ul>
    <h3>node.js</h3>
    <ul>
    <li><a title="node.js Client for ThingSpeak" href="https://www.npmjs.org/package/thingspeakclient">node.js Client for ThingSpeak</a>&nbsp;[external]</li>
    </ul>
    <h3>Processing</h3>
    <ul>
    <li><a title="ThingSpeak Light Sensor Test" href="http://keeganmann.wordpress.com/2011/04/15/thingspeak-light-sensor-test/" target="_blank">Processing and ThingSpeak Light Sensor Test</a> [external]</li>
    </ul>
    <h3>Prowl Push Updates</h3>
    <ul>
    <li><a title="Send Push Updates using Prowl and ThingHTTP" href="http://community.thingspeak.com/prowl/send-push-updates-using-prowl-and-thinghttp/">Send Push Updates using Prowl and ThingHTTP</a></li>
    </ul>
    <h3>Python</h3>
    <ul>
    <li><a title="How to Talk To ThingSpeak With Python (A Memory/CPU Monitor)" href="http://www.australianrobotics.com.au/?q=node/292" target="_blank">How to Talk To ThingSpeak With Python</a> [external]</li>
    <li><a title="Using Arduino and Python to Update a ThingSpeak Channel" href="http://vimeo.com/19064691" target="_blank">Using Arduino and Python to Update a ThingSpeak Channel</a> </li>
    <li><a title="Connecting Arduino to Thingspeak using python as an middle ware" href="http://tenettech.com/blogspot/?p=918" target="_blank">Connecting Arduino to ThingSpeak using Python as Middle-ware</a>&nbsp;[external]</li>
    </ul>
    <h3>Ruby</h3>
    <ul>
    <li><a title="ThingSpeak Ruby Gem" href="http://community.thingspeak.com/tutorials/ruby/thingspeak-api-ruby-gem/" target="_blank">ThingSpeak API Ruby Gem</a></li>
    </ul>
    <h3>SmartThings</h3>
    <ul>
    <li><a title="SmartThings to ThingSpeak Python Script" href="http://amazingrcvideos.blogspot.com/2013/06/smartthings-to-thingspeak-python-script.html">SmartThings to ThingSpeak Python Script</a></li>
    </ul>
    <h3>Spark Core</h3>
    <ul>
    <li><a title="Spark Core Interface for ThingSpeak" href="https://community.spark.io/t/interface-for-thingspeak/2329">Spark Core Interface for ThingSpeak</a>&nbsp;[external [beta]</li>
    </ul>
    <h3>Twine</h3>
    <ul>
    <li><a title="HOW-TO: CHART TWINE's COURSE with ThingSpeak" href="http://supermechanical.tumblr.com/post/43737678135/how-to-chart-twines-course" target="_blank">Data Logging and Charting with Twine + Sensors</a>&nbsp;[external]</li>
    </ul>
    <h3>Twilio Cloud Communications</h3>
    <ul>
    <li><a title="Make calls with Twilio and ThingSpeak" href="http://community.thingspeak.com/twilio/make-calls-with-twilio-using-the-thinghttp-app/">Make Calls with Twilio using the ThingHTTP App</a></li>
    </ul>
    <h3>Twitter</h3>
    <ul>
    <li><a title="Send Twitter Status Updates using the ThingTweet App, Twitter Proxy from ThingSpeak" href="http://community.thingspeak.com/twitter/send-status-updates-using-the-thingtweet-app/">Send Status Updates using the ThingTweet App</a></li>
    <li><a href="http://community.thingspeak.com/2014/10/official-tutorial-sending-tweets-automatically-every-morning-with-timecontrol/">Sending Tweets Automatically Every Morning With TimeControl</a></li>
    </ul>
    <h3>WordPress</h3>
    <ul>
    <li><a title="How to Embed a ThingSpeak Chart on your WordPress Blog" href="http://community.thingspeak.com/wordpress/how-to-embed-a-thingspeak-chart-on-your-wordpress-blog/">How to Embed a ThingSpeak Chart on your WordPress Blog</a></li>
    </ul>
    <h3>Wireless</h3>
    <ul>
    <li><a title="Connecting XBee Wireless Networks to ThingSpeak via the ConnectPort X2 running XIG" href="http://community.thingspeak.com/tutorials/wireless/connecting-xbee-wireless-networks-to-thingspeak-via-the-connectport-x2-running-xig/">Connecting XBee Wireless Networks to ThingSpeak via the ConnectPort X2 running XIG</a></li>
    </ul>

  </div>
</div>

