<div>
  <%= render 'response' %>
  <h2 id="get_status">Get Status Updates</h2>
</div>

<br>
To view a Channel's status updates, send an HTTP GET to <code><%= @ssl_api_domain %>channels/<span class="customcode">CHANNEL_ID</span>/status<span class="format format-json">.json</span><span class="format format-xml">.xml</span></code> ,
replacing <span class="customcode">CHANNEL_ID</span> with the ID of your Channel.

<br><br>
Valid parameters:
<ul>
  <li><b>api_key</b> (string) Read API Key for this specific Channel (optional--no key required for public channels)</li>
  <li><b>timezone</b> (string) <a href="/docs#timezones">Timezone identifier</a> for this request (optional)</li>
  <li><b>offset</b> (integer) Timezone offset that results should be displayed in. Please use the <a href="/docs#timezones">timezone</a> parameter for greater accuracy. (optional)</li>
  <li><b>callback</b> (string) Function name to be used for JSONP cross-domain requests (optional)</li>
</ul>

<br>
Example GET:

<pre>GET <span class="str"><%= @ssl_api_domain %>channels/<span class="customcode">1417</span>/status<span class="format format-json">.json</span><span class="format format-xml">.xml</span></span></pre>

<br>

<div class="format format-block-xxl format-text">
  The response will be a JSON object of Channel statuses, for example:

<pre class="prettyprint">
{
  "channel":
  {
    "name": "CheerLights",
    "latitude": "40.5",
    "longitude": "-80.22"
  },
  "feeds":
  [
    {
      "created_at": "2014-02-26T02:28:01Z",
      "entry_id": 11888,
      "status": "@cheerlights green"
    },
    {
      "created_at": "2014-02-26T22:05:31Z",
      "entry_id" :11889,
      "status": "@cheerlights blue"
    }
  ]
}
</pre>
</div>

<div class="format format-block-xxl format-json">
  The response will be a JSON object of Channel statuses, for example:

<pre class="prettyprint">
{
  "channel":
  {
    "name": "CheerLights",
    "latitude": "40.5",
    "longitude": "-80.22"
  },
  "feeds":
  [
    {
      "created_at": "2014-02-26T02:28:01Z",
      "entry_id": 11888,
      "status": "@cheerlights green"
    },
    {
      "created_at": "2014-02-26T22:05:31Z",
      "entry_id" :11889,
      "status": "@cheerlights blue"
    }
  ]
}
</pre>

</div>

<div class="format format-block-xxl format-xml">
  The response will be an XML object of Channel statuses, for example:

<pre class="prettyprint">
&lt;?xml version="1.0" encoding="UTF-8"?>
&lt;channel>
  &lt;name>CheerLights&lt;/name>
  &lt;latitude type="decimal">40.5&lt;/latitude>
  &lt;longitude type="decimal">-80.22&lt;/longitude>
  &lt;feeds type="array">
    &lt;feed>
      &lt;created-at type="dateTime">2014-02-26T02:28:01Z&lt;/created-at>
      &lt;entry-id type="integer">11888&lt;/entry-id>
      &lt;status>@cheerlights green&lt;/status>
      &lt;id type="integer" nil="true"/>
    &lt;/feed>
    &lt;feed>
      &lt;created-at type="dateTime">2014-02-26T22:05:31Z&lt;/created-at>
      &lt;entry-id type="integer">11889&lt;/entry-id>
      &lt;status>@cheerlights blue&lt;/status>
      &lt;id type="integer" nil="true"/>
    &lt;/feed>
  &lt;/feeds>
&lt;/channel>
</pre>

</div>

