.affix-top,.affix{
	position: static;
}

#bootstrap-sidebar {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 2px 0;
  margin-top: 20px;
  width: 228px;
}

#bootstrap-sidebar li a {
  padding: 0 8px;
  font-size: 15px;
}

#bootstrap-sidebar li a:hover {
  background-color: #fafafa;
}

#bootstrap-sidebar li.active {
  border:0 #666 solid;
  border-right-width:4px;
}

#bootstrap-sidebar li.subitem a {
  padding-left: 30px;
  font-size: 12px;
}

@media (min-width: 979px) {
  #bootstrap-sidebar.affix-top, #bootstrap-sidebar.affix {
    position: fixed;
    top:90px;
    width: 228px;
    margin-top: 0;
  }
}

@media (max-width: 978px) {
  #bootstrap-sidebar.affix-top, #bootstrap-sidebar.affix {
    width: 100%;
  }
}

